extends ../layouts/default

block intro
	.search-bar
		.form-inline
			input.form-control#map-search(type="search", placeholder="City, State, or Zip", aria-label="Search for dispensaries by city, state or zip code.")

		h2.text-capitalize.ml-sm-5 Marijuana Dispensaries

block content
	.listings
		h3 Loading...
		ul

	#map

	script(src="/js/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAljDWwIKnzMJr_yTsQMqxj3YRDWZjrDd4&libraries=places&callback=initGeolocation" async defer)
