include logo

mixin join-jumbotron
	.jumbotron.join-jumbotron
		.logo.white: +logo(true, 70)
		.sign-up.mt-3
			.info Join our community. Be the first to know.
			.cta-text Sign up for our newsletter:
			input.form-control(type="email", placeholder="Enter your email address")
			button.cta.btn.btn-squash Sign up now!
