mixin news-wall
	.news-wall
		.container-fluid
			.row
				.col-md-12
					h2 Trending
					a.btn.btn-facebook.social-media-button <span class="fa fa-facebook-official"></span> Get Our Facebook Updates!
			.row
				.col-md-8: .headline-story.story
					.story-summary
						.label.label-squash Innovation
						h3.story-title Oxford University to Launch Study on Medical Benefits of Marijuana
				.col-md-4: .important-story.story
					.story-summary
						.label.label-muted-purple Education
						h4.story-title Cannabis Oil Distillate: A Different Kind of Concentrate
			.row
				.col-md-4: .story
					.story-summary
						.label.label-dark-sky-blue Research
						h4.story-title How Long Does THC Stay in Your System?
				.col-md-4: .story
					.story-summary
						.label.label-pinkish-red Culture
						h4.story-title How Long Does THC Stay in Your System?
				aside.add-300
			.row
				aside.add-728
