mixin post-wall
	.post-wall
		.container-fluid
			.row
				.col-md-12
					h2 Trending
					a.btn.btn-facebook.social-media-button(href="#")
						span.fa.fa-facebook-official
						span Get Our Facebook Updates!
			.row
				.col-md-8: .headline-story.story
					.story-summary
						.badge.badge-innovation Innovation
						h3.story-title Oxford University to Launch Study on Medical Benefits of Marijuana
				.col-md-4: .important-story.story
					.story-summary
						.badge.badge-education Education
						h4.story-title Cannabis Oil Distillate: A Different Kind of Concentrate
			.row
				.col-md-4: .story
					.story-summary
						.badge.badge-research Research
						h4.story-title How Long Does THC Stay in Your System?
				.col-md-4: .story
					.story-summary
						.badge.badge-culture Culture
						h4.story-title How Long Does THC Stay in Your System?
				.col-md-4: aside.add-300-short
			.row
				aside.add-728
