include ../mixins/flash-messages
include ../mixins/logo

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

		title= title || 'God\s Greenery'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/session.min.css", rel="stylesheet")

		block css
	body
		//- HEADER
		header(role='banner').main-header
			a(href='/', title='Back to Home').navbar-logo
				+logo(true, 70)

		//- BODY
		.main-body
			block intro
			+flash-messages(messages)
			block content

	//- scripts
	//- script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	//- script(src='/js/lib/bootstrap/collapse.js')
	//- script(src='/js/lib/bootstrap/dropdown.js')

	block js
