.blog {
	h2 {
		display: inline-block;
		font-family: 'Comfortaa', 'Arial', sans-serif;
		font-size: 30px;
		letter-spacing: 1px;
		padding: 15px 30px 10px 30px;
	}
}

.blog-post {
	h2 {
		display: inline-block;
		font-family: 'Comfortaa', 'Arial', sans-serif;
		font-size: 30px;
		letter-spacing: 1px;
		margin-top: 20px;
	}

	h4 {
		text-transform: uppercase;
		letter-spacing: 1.6px;
	}
}
