@import "components/header";

@import "components/footer";

@import "components/category-blade";

@import "components/join-jumbotron";

@import "components/join-aside";

@import "components/post-wall";

@import "blog-page";

@import "bootstrap-component-overrides";

.logo {
	display: inline-flex;
	align-items: center;

	> svg {
		.st0{
			fill: $gods-green;
		}
		.st1{
			fill: #381B01;
			stroke: #381B01;
			stroke-width: 5;
		}
		.st2{
			fill: $white;
			stroke: $white;
			stroke-linejoin: bevel;
		}
		.st3{
			fill: $white;
			stroke: $white;
		}

		@include media-breakpoint-down(xs) {
			width: 50px;
		}
	}

	> span {
		margin: 10px 0 0 20px;

		@include media-breakpoint-down(xs) {
			margin-left: 10px;
		}
	}
}

.add-300-short {
	background: url(http://placehold.it/300x250);
	height: 250px;
	margin: 15px auto 0;
	width: 300px;
}

.add-300-tall {
	background: url(http://placehold.it/300x600);
	height: 600px;
	margin: 15px auto 0;
	width: 300px;
}

.add-728 {
  background: url(http://placehold.it/728x90);
  height: 90px;
  margin: 40px auto 0;
  width: 728px;
}
