@import "components/header";

@import "components/footer";

@import "components/category-blade";

@import "components/join-jumbotron";

@import "components/join-aside";

@import "components/post-wall";

@import "blog-page";

@import "bootstrap-component-overrides";

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.add-300-short {
	background: url(http://placehold.it/300x250);
	height: 250px;
	margin: 15px auto 0;
	width: 300px;
}

.add-300-tall {
	background: url(http://placehold.it/300x600);
	height: 600px;
	margin: 15px auto 0;
	width: 300px;
}

.add-728 {
	// Only show this if screen size is >= 768px
	//@media (min-width: $screen-lg-min) {
	    background: url(http://placehold.it/728x90);
	    height: 90px;
	    margin: 60px auto 0;
	    width: 728px;
	//}
}
