//$colors: $gods-green, $squash, $turquoise, $pinkish-red, $muted-purple;

.category-blade {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 70px;

	a {
		background-image: url(http://placehold.it/160x190);
		background-position: center;
		background-size: cover;
		height: 160px;
		margin: 10px 5px;
		//opacity: 0.5;
		position: relative;
		width: 190px;

		@include static-link($white);

		// Iterate over menu items to apply unique background color
		// @for $i from 1 through length($colors) {
		// 	$color: nth($colors, $i);

		// 	&:nth-child(#{$i}) > div {
		// 		background-color: #{$color};
		// 	}
		// }

		> div {
			bottom: 34px;
			left: 20px;
			min-width: 140px;
			position: absolute;

			> span {
				font-size: 18px;
			}
		}

		&:nth-child(1) {
			background-image: url(../../images/CBD-for-Cancer-haley-phelps.png);
		}

		&:nth-child(2) {
			background-image: url(../../images/CBD-for-PTSD-david-siglign.png);
		}

		&:nth-child(3) {
			background-image: url(../../images/CBD-for-Chronic-Pain-lotte-meijer.png);
		}

		&:nth-child(4) {
			background-image: url(../../images/CBD-for-Epilepsy-brooke-cagle.png);
		}

		&:nth-child(5) {
			background-image: url(../../images/CBD-for-Autism-ben-white.png);
		}
	}
}
