header {
	border-bottom: 2px solid $gods-green;
	margin-bottom: 15px;
	padding-top: 40px;

	h1 {
		text-align: center;

		> a {
			color: inherit;

			@include static-link;
		}
	}

	.container {
		position: relative;
	}

	.sign-up {
		bottom: 15px;
		position: absolute;
		right: 30px;
		text-transform: uppercase;
	}

	.navbar-collapse {
		font-family: Comfortaa;
		font-size: $font-size-base;
		text-transform: uppercase;
	  font-weight: bold;
	  letter-spacing: 1.1px;
	}
}
