header {
	border-bottom: 2px solid $dark-sky-blue;
	margin-bottom: 15px;
	margin-top: 40px;

	h1 {
		text-align: center;

		> a {
			color: inherit;

			@include static-link;
		}
	}

	.container {
		position: relative;
	}

	.sign-up {
		bottom: 15px;
		position: absolute;
		right: 30px;
	}

	.navbar-collapse {
		font-family: Comfortaa;
		font-size: $font-size-base;
		text-transform: uppercase;
	  font-weight: bold;
	  letter-spacing: 1.1px;

	// 		.navbar-nav {
	// 			display: inline-block;
	// 			float: none;

	// 			> li[role=menuitem] > a {
	// 			  color: $black;
	// 			  font-family: Comfortaa;
	// 			  font-size: $font-size-base;
	// 			  font-weight: bold;
	// 			  letter-spacing: 1.1px;
	// 			  text-align: center;

	// 				@include static-link;
	// 			}
	// 		}
	}
}
