.join-aside {
	align-items: center;
	border-radius: 14px;
  background-color: $sign-up-background-color;
  border: solid 1px $warm-grey;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 60px;
  padding: 40px;
  text-align: center;
  width: 100%;

  .sign-up {
  	align-items: center;
  	color: $white;
  	display: inline-flex;
  	flex-flow: column nowrap;
  	font-family: Comfortaa;
  	font-size: 18px;
  	font-weight: bold;
  	justify-content: center;
  	letter-spacing: 0.9px;
  	line-height: 1.83;
  	text-align: center;

  	.info {
  		text-transform: uppercase;
  	}

  	input {
  		height: 48px;
  		margin-bottom: 20px;
  		margin-top: 15px;
  		padding: 15px;
  		text-align: center;
  		width: 100%;
  	}

  	::-webkit-input-placeholder {
  	   text-align: center;
  	}

  	:-moz-placeholder { /* Firefox 18- */
  	   text-align: center;
  	}

  	::-moz-placeholder {  /* Firefox 19+ */
  	   text-align: center;
  	}

  	:-ms-input-placeholder {
  	   text-align: center;
  	}

  	.cta {
  		height: 45px;
  		padding: 5px;
  		text-transform: uppercase;
  		vertical-align: middle;
  		width: 100%;
  	}
  }
}
