.post-wall {
	margin-top: 60px;

	h2 {
		display: inline-block;
	}

	a {
		color: black;
	}

	.story {
		background-color: lightsteelblue;
		display: block;
		height: 250px;
		margin: 15px 0;
		position: relative;

		&.headline-story,
		&.important-story {
			height: 500px;

			.story-summary {
				height: 28%;
			}

			h4 {
				font-size: 22px;
			}
		}

		.story-summary {
			background-color: $white;
			bottom: 0;
			height: 45%;
			left: 0;
			opacity: 0.8;
			position: absolute;
			right: 0;
			transform: translateZ(0);

			> .label {
				left: 20px;
				position: absolute;
				top: -10px;
			}

			> .story-title {
				margin-left: 20px;
				margin-top: 30px;
			}

			> .story-brief {
				margin-left: 20px;
				margin-top: 10px;
			}
		}
	}

	.social-media-button {
		color: $white;
		float: right;
		font-size: 14px;
		margin-top: 20px;
		padding: 7px 15px 10px 15px;

		.fa {
			font-size: 30px;
			margin-right: 5px;
			vertical-align: sub;
		}
	}
}
