// Used on main page and _blog (should incorporate with _blog somehow)

$font-size: 18px;
$line-height: 1;
$lines-to-show: 4;

.post-wall {
	margin-top: 50px;

	h2 {
		display: inline-block;
	}

	a {
		color: black;
	}

	.story {
		background-color: lightsteelblue;
		display: block;
		height: 250px;
		margin: 15px 0;
		position: relative;

		&.headline-story,
		&.important-story {
			height: 500px;

			.story-summary {
				height: 28%;
			}

			h4 {
				font-size: 22px;
			}
		}

		&.headline-story .story-summary > .story-title {
			height: 100px; /* Fallback for non-webkit */
			-webkit-line-clamp: 3;
		}

		&.important-story .story-summary > .story-title {
			height: 96; /* Fallback for non-webkit */
			-webkit-line-clamp: 4;
		}

		.story-summary {
			background-color: $white;
			bottom: 0;
			height: 45%;
			left: 0;
			opacity: 0.8;
			padding: 20px;
			position: absolute;
			right: 0;
			transform: translateZ(0);

			> .badge {
				left: 20px;
				position: absolute;
				top: -10px;
			}

			> .story-title {
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 4;
				display: -webkit-box;
				display: block; /* Fallback for non-webkit */
				height: 76px; /* Fallback for non-webkit */
				max-width: 700px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> .story-brief {
				margin-left: 20px;
				margin-top: 10px;
			}
		}
	}

	.social-media-button {
		color: $white;
		float: right;
		font-size: 14px;
		margin-top: 20px;
		padding: 7px 15px 10px 15px;

		.fa {
			font-size: 30px;
			margin-right: 5px;
			vertical-align: sub;
		}
	}
}
